
<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Welcome to Quart</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Quart Consulting Group, S.C.</h2>
					</section>
					<section>	
						<p>Site under construction</p>
					</section>
				</div>
			</section>



	<!-- Two -->
	<section id="two" class="wrapper style2 alt">
		<div class="inner">
			<div class="spotlight">
				<div class="image">
					<img src="{% static 'images/logoquart.jpg' %}" alt="" />
				</div>
				<div class="content">
					<h3>Quart Consulting Group, S.C.</h3>
					<p>We will be online soon</p>
				</div>
			</div>
		
		</div>
	</section>

	<!-- Contact -->
	<section id="contact" class="wrapper">
		<div class="inner split">
			<section>
				<h2>Contact us</h2>
				<p>If you need assistance please contact us in the following e-mail : contacto@quart.com.mx </p>
				
			</section>
			<section>
				<ul class="contact">
					<li class="fa-envelope"><a href="#">contacto@quart.com.mx</a></li>
				</ul>
			</section>
		</div>
	</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Quart Consulting Group, S.C. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>