
<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Welcome to Quart</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Quart Consulting</h2>
					</section>
					<section>
						<p>Web site under construction</p>

					</section>
				</div>
			</section>



		<!-- Two -->
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/under.jpg' %}" alt="" />
						</div>
						<div class="content">
							<h3>Quart Consulting</h3>
							<p>We will be soon on line</p>
						
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Quart. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>